@model Student

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/Student/Edit/@Model.Id" method="POST">
        <div class="mb-3">
            <label for="firstname" class="form-label">First Name</label>
            <input value="@Model.FirstName" type="text" class="form-control" id="firstname" name="firstname" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="lastname" class="form-label">Last Name</label>
            <input value=@Model.LastName type="text" class="form-control" id="lastname" name="lastname" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input value="@Model.Email" type="text" class="form-control" id="email" name="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input value="@Model.Age" type="number" class="form-control" id="age" name="age" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>

</html>